import * as React from 'react';

interface <%= myComp %>Props {
    myProp: any;
}

interface <%= myComp %>State {
    myStateProp: any;
}

export class <%= myComp %> extends React.PureComponent<<%= myComp %>Props, <%= myComp %>State> {
    public render(): React.ReactNode {
        return (
            <div>{this.props.myProp}</div>
        );
    }
}
